 * {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
 }
 
.one {
    text-align: center;
    border: 5px solid black;
    padding-top: 20px;
    margin: 10px;
}
h1 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}
.divOne {
    padding-top: 20px;
    background-color: brown;
    height: 250px;
    margin: 20px;
}
.divOne img {
    height: 180px;
}
.divTwo {
    padding-top: 20px;
    background-color: aqua;
    height: 250px;
    margin: 20px;
}
.divTwo img {
    height: 150px;
    display: inline;
    text-align: center;
    padding: 5px 75px 0px 75px;
}
.divTree {
    padding-top: 20px;
    background-color: yellow;
    height: 250px;
    margin: 20px;
}
.divTree img {
    height: 180px;
}
a {
    font-size: 30px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.div-icon {
    border: 2px solid black;
    margin: 5px;

}
.div-icon img {
    height: 20px;
}